---
title: 那些年走过的地方去过路过的美景
description: "分享那些年走过的地方去过路过的美景"
---

<div class="main-content index-page clearfix ">
	<div class="post-lists">
		<div class="post-lists-body">
	  {% for posts in site.posts %}
	  	   {% if posts.road%}
		<div class="post-list-item">
				<div class="post-list-item-container">
					 <div class="item-thumb  bg-{{posts.background }}" style="background-image:url('{{posts.background-image }}');"></div>
          	<a href="{{ posts.url }}">
	             <div class="item-desc">
		<p>{{ posts.content | strip_html | strip_newlines | truncate: 100 }}</p>
						</div>
					</a>
					<div class="item-slant reverse-slant  bg-{{ posts.background }}"></div>
					<div class="item-slant"></div>
					<div class="item-label">
						<div class="item-title"><a href="{{ posts.url }}">{{ posts.title }}</a></div>
						<div class="item-meta clearfix">
						<div class="item-meta-ico bg-ico-book" style="background: url('../style/images/bg-ico.png') no-repeat;background-size: 40px auto;"></div>
             <div class="item-meta-cat">
				 <a href="category/thoughts/index.html">{{ posts.category }}</a>
				 <a href="category/thoughts/index.html">{{ posts.date | date: "%F %H:%M:%S "}}</a></div>
						</div>
					</div>
				</div>
	  </div>
			 {% endif %}
       {% endfor %}
	</div>
	</div>
  {% include pagination.html %}